<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citic.payment.dao.BillMapper">
  <resultMap id="BaseResultMap" type="com.citic.payment.model.Bill">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="service_id" jdbcType="INTEGER" property="serviceId" />
    <result column="user_service_connet_id" jdbcType="INTEGER" property="userServiceConnetId" />
    <result column="used" jdbcType="INTEGER" property="used" />
    <result column="pay_id" jdbcType="INTEGER" property="payId" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="notice_time" jdbcType="TIMESTAMP" property="noticeTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="reserve" jdbcType="VARCHAR" property="reserve" />
  </resultMap>
</mapper>